label {
    color: white;
    margin-left: 4px;
}

#ratings {
    cursor: pointer;
    border: none;
    color: white;
    padding: 8px 13px;
    display: block;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 5px;
}

.change-button1 {
    background-color: #c25367;
}

.change-button1:hover {
    background-color: #c4374f;
}

.change-button1:active {
    background-color: #e31d41;
}

.change-button2 {
    background-color: #b9872d;
}

.change-button2:hover {
    background-color: #c98b1b;
}

.change-button2:active {
    background-color: #815405;
}

.change-button3 {
    background-color: #53c257;
}

.change-button3:hover {
    background-color: #41a345;
}

.change-button3:active {
    background-color: #228c26;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

.checkbox:checked + .slider {
    background-color: #2196f3;
}

.checkbox:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

text {
    color: #ffffff;
    display: block;
    text-align: center;
}

.small {
    content: "";
    display: block;
    margin: 5px;
}

#open-analysis {
    background-color: white;
    position: absolute;
    top: 15px;
    left: 15px;
    height: 30px;
    cursor: pointer;
}

#open-analysis:hover {
    background-color: #cbcbcb;
}

#live-analysis-label {
    position: absolute;
    top: 22px;
    left: 50px;
    height: 30px;
    border-radius: 5px;
}

#reload {
    background-color: white;
    position: absolute;
    top: 15px;
    right: 20px;
    height: 30px;
    cursor: pointer;
}

#reload:hover {
    background-color: #cbcbcb;
}